/*---------------------
	General Styles
----------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {	
	font-family: "Times New Roman", Times, serif;
}

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}
.page_wrapper {	
	background: url(../images/sky.jpg) no-repeat center fixed; 
    background-size: cover; /*No way to put this in the background shorthand????????????????*/ 
}
.section_title {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

/*---------------------
	Header
----------------------*/
.header_outerwrapper {
	width: 100%;
	height: 605px;
	overflow:hidden;
}
header {
	position: relative;	
} 
.header_contentwrap {	
	position: absolute;
	z-index: 200;
	top: 0;	
	left: 0;
	right: 0;				
	width: 1350px;
	height: 660px;
	margin: 0 auto;
	text-align: center;	
}
.logo img {
	width: 60px;
	height: 60px;
	margin: 55px 0;
}
nav {	
	margin-bottom: 210px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
} 
nav ul li {
	display: inline-block;
	padding: 5px 30px;
}
nav ul li a {
	text-decoration: none;
	font-size:26px;
	color: yellow;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}
nav ul li a:hover {
	color: red;
}
.arrow_sign img {
	width: 40px;
	height: 40px;
}
.video {
  position: absolute;
  z-index: 100;   
  width: 100%;
}/*How to loop videos smoothly ????????????????????????????????????????????????????????????????????*/

/*---------------------
	Projects
----------------------*/
.projects {
	background-color: white;			
}
.projects_innerwrapper {
	width: 1350px;
	height: 950px;	
	margin: 0 auto;	
}
.gallery {
	/*padding-top: 820px;Too many margins because this section appeared underneath the section above. The above
	section's inner part has position relative, but ther is also a wrapping div which doesn't prevent this 
	section to flow above  ?????????????????????????????????????????????????????????????????????? Because of 
	this even the html bookmark for projects and arrow_sign doesn't work
	Answer: define width and height for the wrapper. In case of children have position absolute/relative the wrapper has 
	no idea about its children dimensions so it doesn't take width/height:auto; automatiaclly */
	padding-top: 55px;	
	width: 800px;
	margin: 0 auto;
}
.gallery_title {
	margin-bottom:40px;
}
.container {
	position: relative; /*Do we need to specify z-index for every position relative???????????????????
						Answer: It is mandatory if elements get overlapped*/
	width: 240px;
	height: 220px;
	float: left;
	margin: 10px;
	cursor: pointer;
}
.avatar {
	width: 100%;
	height: 100%;
}
.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(46,46,46,0.7);
	opacity:0;
	filter: alpha(opacity=0);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.overlay:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.desc {
	position: absolute;
	top: 50%;
	left: 50%;	
	-ms-transform: translate(-50%, -50%);/*If you make it crossbrowser specify them for all browsers*/
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:center;
	color: white;
	width: 100%;
	line-height: 25px;
}

/*---------------------
	About
----------------------*/
.about {
	background-color: white;
	color: black;
	margin-top: 240px;	
}
.about_innerwrapper {
	width: 1350px;
	height: 270px;
	margin: 0 auto;
}
.about_text {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

/*---------------------
	Contacts
----------------------*/
.contacts {
	background-color: white;
	margin-top: 245px;
}
.contacts_innerwrapper {
	width: 1350px;
	height: 430px;
	margin: 0 auto;	
	padding-top: 60px;	
}
.page_form {
	width: 600px;	
	margin: 0 auto;	
	overflow: hidden;	
}
.page_form  * {
	font-family: "Times New Roman", Times, serif;
	display: block;	
	width: 600px;
	margin-top: 5px;
	outline: none;	
}
.page_form textarea {	
	resize: none;
	height: 80px;
}
.submit_button {
	display: inline-block;
	width: 100px;
	padding: 5px 10px;
	float: right;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}
.social {
	width: 600px;
	margin: 20px auto;
	padding-left: 18px;	
}
.social a {
	text-decoration: none;
	margin-left: 10px;
	color: black;
	font-size: 20px;
}
.social a:hover {	
	color:red;
}

/*---------------------
	Footer
----------------------*/

footer {
	background-color: orange;
}
.footer_innerwrapper {
	width: 600px;
	margin: 0 auto;
	padding: 9px 0;
	color: white;	
}
.footer_innerwrapper p a {
	color: white;
}